
<div id="main-table" class="container-fluid">
	<hr>

<hr>
<div class="table-responsive">
            <table class="centered table">
 <thead>
      <tr>
         <th colspan="3" class="blue-grey lighten-3 white-text">Ціни продукції в грн.</th>
              
      </tr>
 </thead>
 <thead>
      <tr>
            <th>Назва</th>
            <th>Ширина см</th>
            <th>Ціна грн за 1м/п</th>
              
       </tr>
 </thead>

    <tbody>
      <tr>
         <td class="valign-wrapper"><div class="material-placeholder"><img class="materialboxed initialized" src="../assets/img/rys16.png" width="200"></div>Парапети на паркан із простого<br> бетону,<br>довжиною до 3,5м і<br> шириною від 20см до 50см.
         </td>
         <td width="20%">20cm<br>25cm<br>30cm<br>35cm<br>40cm<br>45cm</td>
         <td width="20%">140<br>160<br>180<br>200<br>220<br>250</td>
      </tr>
   
      <tr>

         <td class="valign-wrapper"><div class="material-placeholder"><img class="materialboxed initialized" src="../assets/img/rys11.png" width="200"></div>Парапети на паркан із мармурової крихти ,<br>довжиною до 3,5м і<br> шириною від 20см до 50см.
         </td>
         <td width="20%">20cm<br>25cm<br>30cm<br>35cm<br>40cm<br>45cm<br>50cm<br></td>
          <td width="20%">220<br>240<br>260<br>290<br>310<br>330<br>350</td>
      </tr>
     </tbody>
    </table>
     </div>
 </div>
     <div class="container" id="par-2">
         <h3>Парапети на паркан</h3>
    <div class="row">

            <div class="col-xs-6 col-md-3">
              
                <div class="thumbnail">
                    <img src="../assets/img/par1.JPG" class="img-fluid" alt="Parapet">
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                
                <div class="thumbnail">
                    <img src="../assets/img/par2.JPG" class="img-fluid" alt="img">
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/par3.JPG" class="img-fluid" alt="foto">
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/par4.JPG" class="img-fluid" alt="Views">
                </div>
            </div>

        </div>