<div class="container" id="par-1">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h3>Парапет шліфований-<br>мармур крихта</h3>
                <div class="thumbnail">
                    <img src="../assets/img/rys11.png" class="img-fluid" alt="Parapet">
                    <div class="caption">
                        <p>Парапет із крихти мармурової,будь-якого розміру та форми на мурований паркан</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Парапет монолітний-<br>простий бетон</h3>
                <div class="thumbnail">
                    <img src="../assets/img/rys16.png" class="img-fluid" alt="парапет">
                    <div class="caption">
                        <p>Двосхилий парапет сірого або червоного або коричневого кольору.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Парапет плоский-<br>простий бетон </h3>
                <div class="thumbnail">
                    <img src="../assets/img/kap2.png" class="img-fluid" alt="img">
                    <div class="caption">
                        <p>Плоский парапет сірого або червоного або коричневого кольору.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Парапет із крихти плоский  червоний</h3>
                <div class="thumbnail">
                    <img src="../assets/img/p4.png" class="img-fluid" alt="Views">
                    <div class="caption">
                        <p>Парапет із крихти мармурової,будь-якого розміру та форми на мурований паркан</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" id="par-2">
    <div class="row">
            <div class="col-xs-6 col-md-3">
                <h3>Шляпка  стовпчика із мармурової крихти</h3>
                <div class="thumbnail">
                    <img src="../assets/img/kap1.png" class="img-fluid" alt="Parapet">
                    <div class="caption">
                        <p>Шляпка із крихти будь-якого розміру на мурований стовпчик</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Шляпка стовпчика із червоним відтінком</h3>
                <div class="thumbnail">
                    <img src="../assets/img/p2.png" class="img-fluid" alt="img">
                    <div class="caption">
                        <p>Накриття на стовпчик розм.45х45 </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Шляпка на стовпчик із мармурової крихти</h3>
                <div class="thumbnail">
                    <img src="../assets/img/kap11.png" class="img-fluid" alt="foto">
                    <div class="caption">
                        <p>Шляпка на стовпчик із кулькою.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Шляпка на стовпчик із мармурової крихти</h3>
                <div class="thumbnail">
                    <img src="../assets/img/p6.png" class="img-fluid" alt="Views">
                    <div class="caption">
                        <p>Кришка стовпчика "уступами" любих розмірів.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
     <div class="container" id="par-2">
         <h3>Шляпка на стовпчик із мармурової крихти</h3>
    <div class="row">

            <div class="col-xs-6 col-md-3">
              
                <div class="thumbnail">
                    <img src="../assets/img/med1.jpg" class="img-fluid" alt="Parapet">
                    <div class="caption">
                        <p>Шляпка із крихти -коричнева</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                
                <div class="thumbnail">
                    <img src="../assets/img/med2.jpg" class="img-fluid" alt="img">
                    <div class="caption">
                        <p>Кришка стовпчика із крихти -сіра </p>
                       
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/med3.jpg" class="img-fluid" alt="foto">
                    <div class="caption">
                        <p>Кришка стовпчика із крихти -червона</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/med4.jpg" class="img-fluid" alt="Views">
                    <div class="caption">
                        <p>Кришка стовпчика із крихти -зелена</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
     <div class="container" id="par-2">
         <h3>Парапети на паркан- плоскі</h3>
    <div class="row">

            <div class="col-xs-6 col-md-3">
              
                <div class="thumbnail">
                    <img src="../assets/img/par1.JPG" class="img-fluid" alt="Parapet">
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                
                <div class="thumbnail">
                    <img src="../assets/img/par2.JPG" class="img-fluid" alt="img">
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/par3.JPG" class="img-fluid" alt="foto">
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
               
                <div class="thumbnail">
                    <img src="../assets/img/par4.JPG" class="img-fluid" alt="Views">
                </div>
            </div>

        </div>
         <br> <br> 
    </div>