
<nav class="container navbar navbar-expand-sm fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>

	</button>
    

	<a class="navbar-brand">{{title}}</a>

	<div class="collapse navbar-collapse" id="nav-content">

		<ul class="nav navbar-nav  ml-auto">
			<li>
				<a routerLink="/" routerLinkActive="active">Головна</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="page">ффффф</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="price">Відео</a>
			</li>
			<li routerLinkActive="active current">
				<a routerLink="kap-table">Новини</a>
			</li>

			<li routerLinkActive="active current">
				<a routerLink="contact">Контакти</a>
			</li>

			<li routerLinkActive="active current">
				<a routerLink="gallery">Галерея</a>
			</li>

		</ul>
	</div>

</nav>