 
<div id="main-table" class="container">
	
   <h1 class="text-center changing-text">Ресторан «Гаразд» Запрошує 
       
   </h1>
 <p> Відвідування нашого ресторану наповнить вас теплом, та принесе незабутні враження </p> 
        <img src="../assets/img/zal1.JPEG" class="img" alt="Photo">
 </div>

 <div class="container" id="bl-1">
	
	<p> Ресторан «Гаразд» - це вишукана,
            елегантна зала, де  панує затишна атмосфера, 
            тут можна приємно та з комфортом провести діловий обід, 
            романтичну вечерю чи велику корпоративну вечірку.
             Ми пропонуємо сучасну європейську,
            українську та найкращі страви закарпатської кухні,
            які доставлять гастрономічне задоволення і 
            естетичну насолоду та задовольнять найвимогливіших гурманів.   
       </p>
	 <img src="../assets/img/par5.png" class="img-fluid" alt="Photo">
 </div>
